<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=0"
    />
    <title>가맹점</title>

    <!-- Google font file. If you want you can change. -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900"
      rel="stylesheet"
    />

    <!-- Fontawesome font file css -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />

    <!-- Template global css file. Requared all pages -->
    <link rel="stylesheet" type="text/css" href="/css/global.style.css" />
  </head>

  <body>
    <div class="wrapper">
      <div class="nav-menu">
        <nav class="menu">
          <!-- Menu navigation start -->
          <!-- Menu navigation end -->
        </nav>
      </div>
      <div class="wrapper-inline">
        <!-- Header area start -->
        <header>
          <!-- extra class no-background -->
          <a class="go-back-link" href="javascript:history.back();"
            ><i class="fa fa-arrow-left"></i
          ></a>
          <h1 class="page-title">메뉴 입력 및 수정</h1>
          <div class="navi-menu-button">
            <em></em>
            <em></em>
            <em></em>
          </div>
        </header>
        <!-- Header area end -->
        <!-- Page content start -->
        <main>
          <div class="container">
            <div class="form-divider"></div>
            <div class="form-divider"></div>
            <div class="form-divider"></div>
            <div class="form-row-group with-icons">
              <div class="form-row no-padding">
                <i class="fa fa-user"></i>
                <input
                  type="text"
                  id="foodName"
                  class="form-element"
                  placeholder="음식 이름"
                />
              </div>
              <div class="form-row no-padding">
                <i class="fa fa-user"></i>
                <input
                  type="text"
                  id="price"
                  class="form-element"
                  placeholder="음식 가격"
                />
              </div>
            </div>
            <div class="form-divider"></div>
            <div class="form-row">
              <button
                type="button"
                id="registBtn"
                class="button circle block orange"
              >
                등록하기
              </button>
            </div>
            <div class="form-divider"></div>
            <div class="form-divider"></div>
            <div class="form-divider"></div>
            <h2>
              <center>등록된 메뉴</center>
            </h2>
            <div class="form-divider"></div>
            <div class="form-divider"></div>
            <div class="form-divider"></div>
            <div class="form-divider"></div>
            <div class="form-divider"></div>
            <div class="form-divider"></div>
            <section class="bal-section container" id="menuList"></section>
          </div>
        </main>
        <!-- Page content end -->
      </div>
    </div>

    <!--Page loader DOM Elements. Requared all pages-->
    <div class="sweet-loader">
      <div class="box">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
      </div>
    </div>

    <!-- JQuery library file. requared all pages -->
    <script src="/js/jquery-3.2.1.min.js"></script>

    <!-- Template global script file. requared all pages -->
    <script src="/js/global.script.js"></script>

    <script>
      // 토큰 받아오기
      var jwtToken = sessionStorage.getItem('jwtToken');
      console.log('Token' + jwtToken);

      // 메뉴리스트 받아와 뿌리는 함수
      function getMenuList() {
        $.ajax({
          url: 'http://localhost:3000/users/menu',
          type: 'POST',
          headers: {
            'x-access-token': jwtToken
          },
          success: function(data) {
            console.log(data);
            var menuCnt = data.length;
            console.log(menuCnt);

            $('#menuList').empty();

            if (menuCnt >= 1) {
              for (var i = 0; i < data.length; i++) {
                var element = data[i];
                console.log(element);
                $('#menuList').append(
                  '<div class="balance-card mb-15">' +
                    '<div class="d-flex align-items-center">' +
                    '<div class="d-flex flex-grow">' +
                    '<div class="mr-auto">' +
                    '<h1 class="b-val">' +
                    '[ ' +
                    element.name +
                    ' ]' +
                    ' ' +
                    element.menu +
                    '</h1>' +
                    '<p class="g-text mb-10">' +
                    element.price +
                    '</p>' +
                    '</div>' +
                    '<div class="ml-auto align-self-end">' +
                    '<button type="button" id="menu"' +
                    ' onclick="editMenu(' +
                    i +
                    ')">수정하기</button>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                );
              }
            }
          }
        });
      }

      function editMenu() {
        alert('수정하기');
      }

      // 음식 등록하는 이벤트 처리
      function insertMenu() {
        var foodname = $('#foodName').val();
        var price = $('#price').val();

        alert(foodname + ' ' + price);

        $.ajax({
          url: 'http://localhost:3000/menu/franMenuInsert',
          type: 'POST',
          headers: {
            'x-access-token': jwtToken
          },
          data: {
            menu: foodname,
            price: price
          },

          // data 값에 server.js의 app.post('/user', function(req, res)의
          // response로 json 형태로 넘어온 1 값이 저장됨
          success: function(data) {
            if (data == 1) {
              alert('등록 완료');
              getMenuList();
            }
          }
        });
      }

      getMenuList();
      // 등록하기 버튼 클릭 시 등록하는 이벤트 처리
      $('#registBtn').click(function() {
        insertMenu();
      });
    </script>
  </body>
</html>
