<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title>회사의 Pay's book</title>

	<!-- Google font file. If you want you can change. -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,900" rel="stylesheet">

	<!-- Fontawesome font file css -->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

	<!-- Template global css file. Requared all pages -->
	<link rel="stylesheet" type="text/css" href="/css/global.style.css">
</head>

<body>
	
	<div class="wrapper">
		<div class="nav-menu">
			<nav class="menu">				
				<!-- Menu navigation start -->				
			<!-- Menu navigation end -->
			</nav>
		</div>
		<div class="wrapper-inline">
			<!-- Header area start -->
			<header> <!-- extra class no-background -->
				<a class="go-back-link" href="javascript:history.back();"><i class="fa fa-arrow-left"></i></a>
				<h1 class="page-title">SIGN UP</h1>
				<div class="navi-menu-button">
					<em></em>
					<em></em>
					<em></em>
				</div>
			</header>
			<!-- Header area end -->
			<!-- Page content start -->
			<main>
				<div class="container">
					<div class="form-divider"></div>
					<div class="form-divider"></div>
					<div class="form-divider"></div>
					<div class="form-row-group with-icons">
                        
                        <div class="form-row no-padding">
							<i class="fa fa-user"></i>
							<input type="text" id="userName" class="form-element" placeholder="your name">
						</div>
						<div class="form-row no-padding">
							<i class="fa fa-envelope"></i>
							<input type="email" id="userID" class="form-element" placeholder="your email">
						</div>
						<div class="form-row no-padding">
							<i class="fa fa-lock"></i>
							<input type="password" id="userPassword" class="form-element" placeholder="Password">
						</div>											
					</div>
					<div class="form-divider"></div>
					<div class="form-row">
                        <button type='button' id="signupBtn" class="button circle block orange">Sign Up</button>
                    </div>
					<div class="form-row txt-center mt-15">
						Already have an account? <a href="login" data-loader="show">Login</a>
					</div>
				</div>
			</main>
			<!-- Page content end -->
		</div>
	</div>


	<!--Page loader DOM Elements. Requared all pages-->
	<div class="sweet-loader">
		<div class="box">
		  	<div class="circle1"></div>
		  	<div class="circle2"></div>
		  	<div class="circle3"></div>
		</div>
	</div>

	<!-- JQuery library file. requared all pages -->
	<script src="/js/jquery-3.2.1.min.js"></script>

	<!-- Template global script file. requared all pages -->
    <script src="/js/global.script.js"></script>
    
    <script>
        $("#signupBtn").click(function(){
            
            var name = $("#userName").val();
            var ID = $("#userID").val();
            var password = $("#userPassword").val();

			//alert(name + ' ' + ID + ' ' + password);
			
            $.ajax({
                url:'http://localhost:3000/users/user',
                type : 'POST',
                data : {
                  
                    name : name,
                    ID : ID,
                    password : password                    
				},
                // data 값에 server.js의 app.post('/user', function(req, res)의
                // response로 json 형태로 넘어온 1 값이 저장됨
                success:function(data){
                    if(data == 1){
                       alert("가입 완료되었습니다.");
                       window.location = "/users/login"
                    }else if(data == 0){
						
						alert("아이디가 중복됩니다.");
					}
					else if(data==2){
						alert("내용을 입력하세요.")
					}
                }
            })
        })
    </script>
</body>

</html>